:host{
  display:block;
  margin-top: 1rem;
  width:100%;
}
.info-empty{

  text-align: center;
}
.example-button-row {
  /*display: table-cell;*/
  width: 100%;
}

.example-button-row .mat-button-base {
  margin: 25px 8px 8px 0;
}

.example-flex-container {
  direction: rtl;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 80px;
}
